<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <title>Responsive navbar - Bedimcode</title>
  <style>
    .background-pink {
      background-color: rgb(255, 0, 89);
    }
    .backgroundimage{
      background-image: url("server2\static\pets.jpg");
    }
  </style>
</head>

<body class="dark:bg-gray-800">
  <header class="header">
    <!-- Navbar for large screens -->
    <nav class="hidden lg:flex items-center justify-between xx-auto py-4 background-pink ">
      <!-- Logo -->
      <a href="#" class="text-white text-xl font-semibold">Logo</a>

      <!-- Navigation Links -->
      <ul class="flex space-x-6">
        <li><a href="#" class="text-gray-700 hover:text-gray-900">Dashboard</a></li>
        <li><a href="#" class="text-gray-700 hover:text-gray-900">My Profile</a></li>
        <li><a href="#" class="text-gray-700 hover:text-gray-900">Health History</a></li>
        <li><a href="#" class="text-gray-700 hover:text-gray-900">Services</a></li>
        <li><a href="#" class="text-gray-700 hover:text-gray-900">Community</a></li>
        <li><a href="#" class="text-gray-700 hover:text-gray-900">Settings</a></li>
      </ul>

      <!-- Sign In/Sign Up buttons -->
      <div class="flex space-x-4">
        <a href="#" class="text-gray-700 hover:text-gray-900">Login</a>
        <a href="#" class="text-gray-700 hover:text-gray-900">Sign Up</a>
      </div>
    </nav>

    <!-- Drawer for small screens -->
    <div class="lg:hidden">
      <!-- Navbar toggle button -->
      <nav class="bg-white border-gray-200 dark:bg-gray-900 background-pink">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 background-pink">
          <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="heart.png" alt="">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Logo</span>
          </a>
          <button
            class="text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
            aria-controls="drawer-navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;">
              <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
            </svg>
          </button>
        </div>
      </nav>

      <!-- Drawer component -->
      <div id="drawer-navigation"
        class="background-pink fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full dark:bg-gray-800"
        tabindex="-1" aria-labelledby="drawer-navigation-label">
        <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu
        </h5>
        <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close menu</span>
        </button>
        <!-- Navigation Links -->
        <div class="py-4 overflow-y-auto text-white" id="navbar-default">
          <ul class="space-y-2 font-medium">
            <li><a href="#"
                class="text-white flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"><span>Home</span></a>
            </li>
            <li><a href="#"
                class="text-white flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"><span>About</span></a>
            </li>
            <li><a href="#"
                class="text-white flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"><span>Services</span></a>
            </li>
            <li><a href="#"
                class="text-white flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"><span>Contact</span></a>
            </li>
            <li><a href="#"
                class="text-white flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"><span>Sign
                  In</span></a></li>
            <li><a href="#"
                class="text-white flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"><span>Sign
                  Up</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  

  

<section class="bg-center bg-no-repeat backgroundimage bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">We invest in the world’s potential</h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
          <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Get started
              <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a>
          <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
              Learn more
          </a>  
      </div>
  </div>
</section>



  <script src="assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>