<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/client/css/output.css" rel="stylesheet">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container h-[100vh] flex justify-center items-center font-['Poppins',sans-serif]">
        <div class="flex flex-col justify-between items-center bg-white rounded-xl px-5 py-8 shadow-xl">
            <img class="w-[2.5rem] h-[2.5rem]" src="{{url_for('static',filename='receipt-indian-rupee-black.svg')}}" alt="">

            <h1 class="font-bold text-2xl mt-3 mb-5">Login To Splitit</h1>
            <form action="{{url_for('login')}}" method="post" class="flex flex-col w-[20rem]">
                <label class="my-1" for="username">Username</label>
                <input class="text-black rounded-lg bg-slate-100 mb-4 pl-2 py-[1px] border-[1px] border-slate-500" type="text"
                    id="username" name="username" placeholder="Username">
                <label class="my-1" for="password">Password</label>
                <input class="text-black rounded-lg bg-slate-100 mb-4 pl-2 py-[1px] border-[1px] border-slate-500" type="password"
                    name="password" id="password" placeholder="Enter password">
                {% if error %}
                    <p class="text-[red]">{{error}}</p>
                {% endif %}
                <button type="submit" class="bg-purple text-white p-1 rounded-xl mt-3 hover:opacity-80">Login</button>
                <p class="pt-2">Not registered yet? <a class="underline"
                        href="{{url_for('register')}}">Register</a></p>
            </form>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>